@import "tailwindcss";

@keyframes text-pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

@keyframes gentle-pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
}

.text-pulse {
  animation: text-pulse 1.5s ease-in-out infinite;
}

.gentle-pulse {
  animation: gentle-pulse 2s ease-in-out infinite;
}
